@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&family=Noto+Serif+KR:wght@900&family=Zen+Kurenaido&display=swap');

@font-face {
    font-family: 'Mono';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_Monoplex-kr@1.0/MonoplexKR-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}


:root {
    --text: #2a2728;
    --textaccent: #808080;
    --accent: #343032;
    --yellow: #ffdb58;
    --red: #AF87CE;
    --bg: #f7f7f7;
    --white: #fff;
}

*{
	margin: 0;
	padding: 0;
	font-family: 'Edu NSW ACT Foundation', 'Zen Kurenaido', serif;
	text-decoration: none;
	box-sizing: border-box;
    letter-spacing: 0.05rem;
    font-size: 16px;
}

body {
    background-color: var(--bg);
    color: var(--text);
}

p, h1, h2, h3 {
	margin-bottom: 10px;
}

h1 {
    font-size: 2rem;
    line-height: 3rem;
    margin: 10px 0;
}

h2 {
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin: 7px 0;
}

h3 {
    font-size: 1.3rem;
    line-height: 2.2rem;
    margin: 4px 0;
}

span{
    color: var(--yellow);
    font-size: inherit;
    font-family:inherit;
}

a {
	color: var(--accent);
}

i {
    font-size: inherit;
}

img {
    width: 100%;
    border-radius: 15px;
  }
  
  del {
      text-decoration: line-through;
  }
  
  pre {
      font-family: "Mono";
      padding: 18px;
      margin: 10px 0;
      color: var(--accent);
      background-color: var(--bg);
      border-radius: 25px;
      overflow-x: scroll;
          word-break: break-all;
  }
  
  code {
      font-family: "Mono";
      background-color: var(--bg);
      color: var(--accent);
      border-radius: 15px;
      padding: 5px 10px;
      word-break: break-all;
  }
  
  blockquote {
      padding: 18px;
      margin: 10px 0;
      background-color: #fff;
      border-radius: 25px;
  }
  
  blockquote:before {
      content: "\201C";
      font-size: 2em;
      font-family: Georgia;
      color: var(--yellow);
      float: left;
      margin: -5px 10px 0px -10px;
    }
  
  .item ul {
      display: block;
      list-style: none; /* Remove default bullets */
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      padding-inline-start: 40px;
  }
  
  .item ul li::before {
      content: "\2574";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
      font-weight: bold; /* If you want it to be bold */
      display: inline-block; /* Needed to add space between the bullet and the text */
      width: 1em; /* Also needed for space (tweak if needed) */
      margin-left: -1em; /* Also needed for space (tweak if needed) */
    }
  
  .item ul li {
      margin-bottom: 10px;
  }
  
  .item ol {
      display: block;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      padding-inline-start: 40px;
      list-style-type: decimal;
  }
  
.item ol li {
    margin-bottom: 10px;
}

.main_container{
	padding: 25px 25px 100px 25px;
	overflow:auto; 
}

.main_container .content{
	display: flex;
	max-width: 500px;
	flex-wrap: wrap;
   	margin: 0 auto;
}

.main_container .content .item_wrap{
	width: 100%;
	padding: 10px;
}

.main_container .content .item_wrap .item{
	padding: 25px;
	background: var(--white);
    border-radius: 15px;
}

.main_container .content .item_wrap .page_title{
    text-transform: uppercase;
    margin: 5px 0;
    text-align: center;
    text-shadow: -0.2px 0, 0 0.2px, 0.2px 0, 0 -0.2px;
    font-size: 2rem;
    line-height: 3rem;
}
.navbar-container {
  background: var(--yellow);
  position: fixed;
  top: calc(100% - 60px);
  width: 100%;
  height: 60px;
}

.navbar {
  position: fixed;
  top: calc(100% - 60px);
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--accent);
  width: 90%;
  max-width: 450px;
  height: 80px;
  border-radius: 50px;
}

.navbar ul {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}

.navbar ul li {
  width: 20%;
  text-align: center;
}

.navbar ul li a {
  color: var(--white);
  font-size: 24px;
  position: relative;
  transition: all 0.3s ease;
}

.navbar ul li a:hover {
  color: var(--yellow);
}

.navbar ul li .tooltip {
  position: absolute;
  top: -90px;
  left: -45px;
  background: var(--accent);
  width: 115px;
  padding: 8px;
  border-radius: 50px;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 3px;
  color: var(--white);
  font-weight: bold;
  display: none;
}

.navbar ul li a:hover .tooltip{
   display: block;
}

.navbar ul li .tooltip:before{
  content: "";
  position: absolute;
  top: 33px;
  left: 50%;
  transform: translateX(-50%);
  border-top: 10px solid var(--accent);
  border-bottom: 8px solid transparent;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}

.header {
    position:relative;
    text-align:center;
    background: var(--accent);
    color:var(--bg);
  }

.header .title {
    font-size: 3rem;
    font-family: 'Noto Serif KR', serif;
    text-shadow: none;
}
  
  .inner-header {
    height:100px;
    width:100%;
    margin: 0;
    padding: 0;
  }
  
  .flex { /*Flexbox for containers*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-items: flex-end;
  }
  
  .waves {
    position:relative;
    width: 100%;
    height:100px;
    margin-bottom:-10px; /*Fix for safari gap*/
    min-height:100px;
    max-height:150px;
  }

  
  /* Animation */
  
  .parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  @keyframes move-forever {
    0% {
     transform: translate3d(-90px,0,0);
    }
    100% { 
      transform: translate3d(85px,0,0);
    }
  }
  /*Shrinking for mobile*/
  @media (max-width: 768px) {
    .waves {
      height:40px;
      min-height:40px;
    }
    h1.title {
      font-size:24px;
    }
  }

.gallery-container {
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: wrap-reverse;
	justify-content: space-between;
	align-items: baseline;
}

.gallery {
	width: 49%;
}

.youtube {
	width: 100%;
	aspect-ratio: 16 / 9;
	border-radius: 15px;
}
